<!DOCTYPE html>
<html>
   <head>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
      <script src="docs.js"></script>
      <link rel="stylesheet" type="text/css" href="style.css">
   </head>
   <body>
      <div class="item iframe_module">
  <iframe src="http://investing.thisismoney.co.uk/modules/main-markets-alpha" width="636" height="402" frameborder="0" scrolling="no"></iframe>
   </div>
      <div ng-app="docs" ng-controller="DocsController">
         <div class="bar">
            <!-- Create a binding between the searchString model and the text field -->
            <input type="text" ng-model="searchString" placeholder="Enter your search terms" />
         </div>
         <ul>
            <li ng-repeat="i in items | searchFor:searchString">
               <a href="{{i.url}}">{{i.title}}</a>
            </li>
         </ul>
   </body>
</html>
